.section{
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}
.card {
    background-image: url(/images/Screenshot\ from\ 2024-04-01\ 10-15-17.png);
    background-repeat: no-repeat;
    text-align: center;
    border: 1px solid black;
    border-radius: 10px;
    height: 426px;
    width: 315px;
    display: flex;
    flex-direction: column; /* Set flex-direction to column to align items vertically */
    
    align-items: center; /* Center items horizontally */
    padding-top: 50px;
}
.frcard{
        background-image: url(/images/Screenshot\ from\ 2024-04-01\ 10-14-09.png);
        background-repeat: no-repeat;
        text-align: center;
        border: 1px solid black;
        border-radius: 10px;
        height: 426px;
        width: 315px;
        display: flex;
        flex-direction: column; /* Set flex-direction to column to align items vertically */
        
        align-items: center; /* Center items horizontally */
        padding-top: 50px;
    
}

.pic {
    border: 5px solid lightgreen;
    width: 100px;
    height: 100px;
    margin-top: 135px;
}
.authority{
    margin-top: 50px;

}
.profpic{
    width: 100px;
    height: 100px;
}



/* Form styling
 */
 .studentData {
    background-color: #f9f9f9; /* Background color */
    padding: 20px; /* Padding around the content */
    border-radius: 10px; /* Rounded corners */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Box shadow for a subtle effect */
}

.form-label {
    display: block; /* Display labels as blocks */
    margin-bottom: 10px; /* Add space below labels */
    font-weight: bold; /* Bold font for labels */
}

.form-select, .studentName, .studentFName, .cnicnumber, .form-control {
    width: 100%; /* Make inputs fill the container */
    padding: 10px; /* Padding for inputs */
    margin-bottom: 15px; /* Add space below inputs */
    border: 1px solid #ccc; /* Border for inputs */
    border-radius: 5px; /* Rounded corners for inputs */
    box-sizing: border-box; /* Include padding and border in the width */
}

.btn {
    background-color: #007bff; /* Button background color */
    color: #fff; /* Button text color */
    padding: 10px 20px; /* Padding for the button */
    border: none; /* Remove button border */
    border-radius: 5px; /* Rounded corners for button */
    cursor: pointer; /* Change cursor to pointer on hover */
}

.btn:hover {
    background-color: #0056b3; /* Change button background color on hover */
}
